body {
  text-align: center;
  font-family: fantasy;
  background-color: burlywood;
 }

nav > img {
  width: 5%;
  height: 5%;
  margin: 0px;
  text-align: left;
  }

  nav {
   display: flex;
   justify-content: space-around;
   font-style: oblique;
   font-size: 20px;
   border: 2px solid black;
   padding: 15px;
  }

  nav > a {
    color: black;
  }

  footer {
   display: flex;
   justify-content: space-evenly;
   font-style: oblique;
   font-size: 20px;
   border: 2px solid black;
   padding: 15px;
  }

  footer a {
    color: black;
  }

  h1, h2 {
  font-size: 72px;
  }

  h4 {
  font-size: 38px;
  }

  p {
  font-style: italic;
  text-align: center;
  font-family: 'Times New Roman', Times, serif;
  }

  img {
   display: block;
   margin-left: auto;
   margin-right: auto;
   padding:1px;
   border:1px solid black;
  }

   ul {
     display: flex;
     flex-direction: column;
     justify-content: center;
     text-align: center;
   }
   
   li {
         text-align: left;
         font-family: 'Times New Roman', Times, serif;
   }